:root {
    --background: #111113;
    --side-panel: #09090B;
    --component: #272729;
    --border-radius: 6px;
    --text-color-bright: #C4C4C4; 
    --text-color-mid: #828282;
    --text-color-dull: #5E5E5E;
    --font-12px: 12px;
    --semi-bold: 600;
}

body {
    background-color: var(--background);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    color: var(--text-color-bright);
    font-family: "Google Sans", sans-serif;
}

.container {
    width: 100vw;
    outline: 1px solid red; /*Temporary*/
    height: 100vh;
}

.side-panel-container {
    width: 200px;
    height: 100vh;
    background-color: var(--side-panel);
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 23px;
}

.dashboard-button {
    width: 160px;
    background-color: var(--component);
    height: 30px;
    border-radius: var(--border-radius);
    display: flex;
    font: var(--font-12px);
    font-weight: var(--semi-bold);
    padding-left: 5%;               /*Needs to be standardized*/
    align-items: center;
    gap: 4px;
}

.dashboard-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-panel-section {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding-bottom: 35px;
}

.side-panel-title {
    color: var(--text-color-dull);
    font-size: var(--font-12px);
    font-weight: var(--semi-bold);
    text-transform: uppercase;
}


.side-panel-section-component {
    display: flex;
    color: var(--text-color-mid);
    font-weight: var(--semi-bold);
    font-size: var(--font-12px);
    gap: 4px;
}

.side-panel-section-component img {
    height: 14px;
}